<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico', _scheme=scheme) }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='home/index.css', _scheme=scheme) }}" />
  <title>Login - Pakcord Appeal</title>
</head>
<body>
  <div>
    <h1>Pakcord Ban Appeal</h1>
    <a class="link" href="{{ url_for('login', _scheme=scheme) }}">
      <div class="button">
        Login with Discord
      </div>
    </a>
    <p class="data" style="margin-bottom: 0;">Logging in with your Discord account allows us to verify if you are banned on the server. </p> <br />
    <p class="data" style="margin-top: 0;">We only have access to your username and avatar, and we do not store or have visibility of any other personal data.</p>
  </div>
</body>
</html>