<!DOCTYPE html>
<html>
  <head>
    <title>Ban Appeal Form</title>
  </head>
  <body>
    {% if user_ban_appeal_data is none %}
    <h1>Ban Appeal Form</h1>
    <form action="/appeal" method="POST">
      <label for="reason">Why would you like to be unbanned?</label>
      <textarea id="reason" name="reason" required></textarea><br />

      <input type="submit" value="Submit" />
    </form>
    {% else %}
    <h1>Your ban appeal is currently being reviewed.</h1>
    <p>Status: {{ user_ban_appeal_data.status }}</p>
    <p>Expect your appeal to be reviewed within a week</p>
    {% endif %}
  </body>
</html>
